body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0b0c10;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #66fcf1;
}

button {
    background-color: #45a29e;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #66fcf1;
    color: #000;
}

#logs {
    margin-top: 30px;
    background: #1f2833;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.alert-log {
    color: #ff4d4d;
    font-weight: bold;
}

.normal-log {
    color: #00cc66;
}
